@import '~styles/variables';

.main {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px 24px;
}

.container {
  overflow-y: auto;
  border-radius: 2px;

  :global {
    .ant-card-body {
      padding: 16px;
    }
  }
}

.button-container {
  display: flex;
  gap: 8px;
  align-items: center;
}

.node-tooltips {
  position: absolute;

  .node-content {
    width: 66px;
    height: 50px;
    padding: 4px;
    overflow: hidden;
    text-align: center;

    .text {
      color: @functional-text;
      .primary-body4();
    }
  }
}

.image-icon {
  width: 15px;
  height: 15px;
  margin-right: 2px;
}

.descriptions-item {
  :global {
    .ant-descriptions-item-label {
      width: 80px;
    }

    .ant-descriptions-row > th,
    .ant-descriptions-row > td {
      padding-bottom: 8px;
    }
  }
}

.node-card-title {
  font-size: 16px;
}

.card-button {
  :global {
    .ant-btn-primary {
      margin-right: 6px;
    }
  }
}
