/node_modules/
/dist
.DS_Store
yarn-error.log
package-lock.json
.vscode
.idea
config/local_config.yaml
test/e2e/videos
test/e2e/screenshots
test/e2e/downloads
.nyc_output
coverage
test/e2e/results
test/e2e/report
*.qcow2
/packages
reno.cache
skyline_console.egg-info/
AUTHORS
ChangeLog
RELEASENOTES.rst
doc/build
doc/source/_static
skyline_console/static

# config
test/e2e/config/local_config.yaml
*.local

# Python
__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
ENV/
build/
.tox
