@import '~antd/lib/style/themes/default.less';
@import '~styles/variables';

.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  height: 100%;
  padding: 16px 24px;
  overflow: auto;

  .platform-info {
    display: flex;
    justify-content: space-evenly;

    .info-link {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      margin: 16px;
      color: @functional-title;

      .info-title {
        padding: 4px 8px;
        .primary-h1();
      }

      .info-text {
        display: flex;
        gap: 10px;
        align-items: center;
        padding: 8px;

        span {
          .primary-body2();

          font-weight: @font-weight-medium;
        }
      }
    }
  }

  .virtual-resources-overview {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    justify-content: space-evenly;

    .overview-link {
      display: flex;
      flex-direction: column;
      gap: 16px;
      align-items: center;

      .overview-info {
        display: flex;
        padding: 8px;

        .info-text {
          display: flex;
          align-items: center;

          .info-number {
            padding: 4px 16px;
            color: @functional-title;
            .primary-h1();
          }

          .info-label {
            .primary-body2();

            color: @functional-text;
            font-weight: @font-weight-semibold;
          }
        }
      }

      .overview-indicator {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
        justify-content: center;
        width: fit-content;

        .status {
          display: flex;
          gap: 4px;
          align-items: center;
          color: @functional-text;
          font-weight: @font-weight-medium;
          .primary-body5();

          p {
            margin: 0;
            padding: 4px 8px;
            color: @functional-title;
            .primary-h5();
          }
        }
      }
    }
  }

  .virtual-resources-used {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    justify-content: space-evenly;

    .chart-container {
      display: flex;
      flex-direction: column;
      gap: 8px;
      align-items: center;
      padding: 16px;

      .chart-title {
        .primary-body2();

        font-weight: @font-weight-medium;
      }

      .chart-indicator {
        display: flex;
        gap: 8px;

        .indivator-item-wrap {
          display: flex;
          flex-wrap: nowrap;
          gap: 2px;
          align-items: center;
        }
      }
    }
  }

  .service-card {
    display: grid;
    grid-template-columns: [first] 24px [line2] 40% [line3] 20% [end]auto;
    padding: 5px 8px;
    .primary-body4();

    .avatar-checked {
      color: @status-positive;
    }

    .avatar-crossed {
      color: @status-negative;
    }

    .binary {
      color: @functional-title;
      font-weight: @font-weight-medium;
    }

    .host {
      color: @functional-text;
    }

    .state {
      color: @functional-text;
    }
  }

  .resource-overview {
    .card {
      height: 100%;

      .label {
        display: block;
        font-size: 16px;
      }

      .all {
        display: block;
        font-size: 24px;
      }
    }
  }

  .right {
    height: 100%;
  }
}

.outer {
  position: relative;
  width: 100%;
  height: 10rem;
  overflow: hidden;
  font-size: 12px;

  .inner {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
  }

  .inner::-webkit-scrollbar {
    display: none;
  }
}

:global {
  .ant-descriptions-item-container {
    .ant-descriptions-item-content {
      display: table-cell;
    }
  }
}
