@import '~styles/variables';

.wrapper {
  position: relative;
  height: 100%;
  overflow: hidden;

  :global {
    .ant-spin-nested-loading {
      height: 100%;
    }

    .ant-spin-container {
      height: 100%;
    }
  }
}

.steps-form-container {
  display: flex;
  flex-direction: column;
}

.step {
  display: flex;
  align-items: center;
  padding: 16px;
  background: @white;
  border-bottom: 1px solid @functional-border-divider;
  border-radius: 2px;
}

.form {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 100%;
  overflow-y: auto;
  background-color: #fff;

  :global {
    .ant-form-item {
      padding-top: 4px;
    }
  }
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 16px;
  background-color: @white;
  border-top: 1px solid @functional-border-divider;
  box-shadow: 0 2px 30px 0 rgba(0, 0, 0, 9%);
}

.btns {
  display: flex;
  gap: 8px;
}

.footer-left {
  display: flex;
  gap: 8px;
  color: @functional-text;
  .primary-body5();
}

.right-top-extra-wrapper {
  position: absolute;
  top: 95px;
  right: 20px;
  z-index: 100;
  background-color: @white;
  border-radius: 5px;
  box-shadow: 0 2px 10px 0 @functional-border-divider;

  :global {
    .ant-card-head {
      min-width: 32px;

      .ant-card-extra {
        padding: 8px 0;
      }
    }
  }
}
