@import '~styles/variables';

@min-space: 8px;
@mid-space: 16px;
@lg-space: 24px;
@box-shadow: 0 0 10px 0 rgba(0, 0, 0, 5%);
@topo-line: 1px solid #d2d2d2;
@resource-box-bg: #fbfdff;
@resource-box-border: 1px solid #cfe1ff;

.detail-card-title-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .detail-card-title {
    display: flex;
    gap: 8px;
    align-items: center;
  }
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: 4px;

  .card-item {
    margin-bottom: @min-space;

    .title-help {
      margin-left: @min-space;
      line-height: 26px;
    }

    div {
      word-break: break-all;
    }
  }
}

.label {
  .primary-body4();

  font-weight: @font-weight-medium;
}
