@import '~antd/lib/style/themes/default.less';
@import '~styles/variables';

.container {
  height: 100%;
  padding: 16px 24px;
  overflow-y: auto;

  .main-icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .action-button {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 16px;
    color: @functional-text;
    background: #fff;
    border-radius: @border-radius;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 20%);
    .primary-h4();
  }

  .action-icon {
    width: 100px;
    height: 100px;
    padding: 8px;
  }

  .action-label {
    margin: 0;
    padding: 8px;
  }

  .left {
    height: 100%;

    .content {
      .quota-card {
        display: flex;
        flex-direction: column;
        gap: 4px;
        width: 100%;

        &:not(:last-child) {
          margin-bottom: 16px;
        }

        .card-title {
          padding-top: 8px;
          padding-bottom: 8px;
          font-weight: 600;
          .primary-body2();
        }

        .card-content {
          .quota-column-container {
            .quota-column {
              .label-text {
                margin: 0;
                padding-top: 4px;
                padding-bottom: 4px;
                overflow: hidden;
                font-weight: @font-weight-medium;
                white-space: nowrap;
                text-overflow: ellipsis;
                .primary-body4();

                span {
                  font-weight: @font-weight-regular;
                }
              }
            }
          }
        }
      }
    }
  }

  .right {
    .project {
      display: flex;
      flex-direction: column;

      .meta {
        margin-bottom: 16px;
        padding-bottom: 16px;
        border-bottom: 1px dashed #e8e8e8;
      }

      .project-column {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        padding-top: 8px;
        padding-bottom: 8px;

        .column-label {
          .primary-body4();

          color: @functional-title;
          font-weight: 500;
        }

        .column-text {
          .primary-body4();

          color: @functional-text;
        }
      }
    }
  }
}

.outer {
  position: relative;
  width: 100%;
  height: 10rem;
  overflow: hidden;
  font-size: 12px;

  .inner {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
  }

  .inner::-webkit-scrollbar {
    display: none;
  }
}

.bottom {
  border-radius: @border-radius;

  :global {
    .ant-card {
      box-shadow: unset;
    }

    .ant-card-body {
      padding: 0 !important;
    }
  }

  .action {
    float: right;
    margin-top: 6px;
    color: @primary-color;
    font-size: 12px;
    cursor: pointer;
  }
}
