.menu {
  :global(.anticon) {
    margin-right: 8px;
  }

  :global(.ant-dropdown-menu-item) {
    min-width: 160px;
  }
}

.drop-down {
  font-size: 16px;
  line-height: 20px;
  vertical-align: top;
  cursor: pointer;

  img {
    width: 16px;
    height: 16px;
  }

  > i {
    font-size: 16px !important;
    transform: none !important;

    svg {
      position: relative;
      top: -1px;
    }
  }
}
