@import '~styles/variables';

.content {
  height: 100%;
  padding: 16px 24px;
  overflow: auto;

  .user-info-card {
    display: flex;
    gap: 32px;

    .user-info-detail {
      display: flex;
      flex-direction: column;
      gap: 8px;
      width: auto;

      .user-info-detail-item {
        display: grid;
        grid-template-columns: [first] 180px [end]auto;
        .primary-body4();

        .item-title {
          color: @functional-title;
          font-weight: @font-weight-medium;
        }

        .item-text {
          color: @functional-text;
        }
      }
    }
  }
}

.hvc {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bgc {
  margin-bottom: 16px;
  padding: 24px;
  background-color: white;
  border-radius: @border-radius;
  box-shadow: @base-shadow;
}
